<a href="https://colab.research.google.com/github/yadav95poonam16-cell/Tutedude-assignements-/blob/main/TuteDude_Assignement_2_Task1%262.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task_1

In [ ]:
num = int(input("Enter a number: "))

if num % 2 ==0:
  print(f"{num} is even number.")
else:
  print(f"{num} is odd number.")

Enter a number: 7
7 is odd number.

In [ ]:
'''

In [ ]:
num = int(input("Enter a number: "))

if num % 2 ==0:
  print(f"{num} is even number.")
else:
  print(f"{num} is odd number.")

Enter a number: 12
12 is even number.

# Task_2

In [ ]:
total_sum = sum(range(1, 51)) # range(1, 51) includes numbers from 1 up to (but not including) 51
print(total_sum)

1275

In [ ]:
'''

In [ ]:
for i in range(1,51):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50